* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: "industrial";
  src: url("../asset/font/IND736N.ttf") format("truetype");
}

/* ----- NAVIGATION -----  */

/* ----- LARGE NAV ----- */

#largeNav {
  position: fixed;
  width: 100%;
  height: 220px;
  background: #17152a;
  z-index: 100;
  transition: 0.8s ease-in-out;
}
#largeNavTop {
  height: 160px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#largeNavTop img {
  width: 60px;
  height: 60px;
}
#largeNavTop p {
  color: #fff;
  margin-top: 10px;
  font-family: "industrial", serif;
}
#largeNavBottom {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid #dfc173;
  border-bottom: 1px solid #dfc173;
}
#largeNavBottom ul {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#largeNavBottom a,
#smallNavBottom a {
  color: #dfc173;
  font-family: "Poppins", sans-serif;
}

/* ----- SMALL NAV ----- */

#smallNav {
  flex-direction: column;
  position: fixed;
  width: 300px;
  height: 100vh;
  background: #17152a;
  z-index: 100;
  transition: 0.8s ease-in-out;
}
.smallNavHidden {
  transform: translateX(-300px);
}
.smallNavShow {
  transform: translateX(0);
}
#burgerMenu {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 200;
  width: 50px;
  height: 50px;
  top: 15px;
  left: 15px;
  background: #17152a7e;
  border-radius: 3px;
  transition: 0.4s ease-in-out;
}
#burgerMenu i {
  display: block;
  font-size: 2em;
  color: #fff;
}
#smallNavTop {
  margin-top: 50px;
  width: 100%;
  color: #fff;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dfc173;
}
#smallNavTop img {
  width: 80px;
  height: 80px;
}
#smallNavTop p {
  margin-top: 10px;
  font-family: "industrial", serif;
}
#smallNavBottom {
  border-bottom: 1px solid #dfc173;
}
#smallNavBottom ul {
  margin: 50px 0;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* ----- SCROLL TO TOP -----  */

#scrollToTop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  width: 60px;
  height: 60px;
  bottom: 60px;
  right: 15px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  transition: 0.4s ease-in-out;
}
#scrollToTop i {
  display: block;
  font-size: 2em;
  color: #fff;
}

/* ----- ANIMATIONS -----  */

/* ----- NAVIGATION ANIMATION ----- */

.navActive {
  position: relative;
}
.navActive::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -2px;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: inherit;
}
#burgerMenu:hover,
#scrollToTop:hover {
  cursor: pointer;
  transform: scale(0.95);
  background: #17152a;
}
.navSlideOut {
  transform: translateY(-160px);
}
#largeNav li:hover,
#smallNav li:hover {
  transform: scale(0.95);
  transition: 0.3s ease;
}
#largeNav a:hover,
#smallNav a:hover {
  color: #fff;
  transform: scale(0.95);
  transition: 0.3s ease;
}

/* ----- SCROLL TO TOP ANIMATION ----- */

.scrollToTopHidden {
  transform: translateY(200%);
}
.scrollToTopshow {
  transform: translateY(0);
}

/* ----- SECTION -----*/

section {
  min-height: 100vh;
}

/* -- ------------- SECTION HEADER ---------------- -- */

section.header {
  background-image: url(../asset/img/header-4.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  text-align: center;
  position: relative;
}

section.header div.border {
  margin: 0 200px;
  border-left: 1px solid #dfc173;
  border-right: 1px solid #dfc173;
  height: 100vh;
}

section.header div.border p:nth-of-type(1) {
  padding-top: 320px;
  color: #dfc173;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
}

section.header div.border p:nth-of-type(2) {
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 200;
  margin-bottom: 80px;
}

section.header div.border div.title {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.header div.border div.title div.ligne {
  height: 1px;
  background-color: #dfc173;
  width: 100px;
}

section.header div.border div.title h1 {
  font-size: 80px;
  color: white;
  font-family: "industrial";
  font-weight: lighter;
  padding: 0 50px;
}

section.header div.border a {
  color: white;
  padding: 15px 50px;
  transition: all 0.6s ease-in-out;
  border: #eedaa8 2px solid;
}

section.header div.border a:hover {
  padding: 15px 30px;
}

section.header div.social {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 85px;
  bottom: 150px;
}

section.header div.social a i {
  color: white;
  font-size: 25px;
  padding: 10px 0;
  transition: all 0.5s;
}

section.header div.social a i:hover {
  color: #dfc173;
}

/* -- ------ SECTION PRESENTATION ------ -- */

section.presentation {
  margin: 150px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* IMG */

section.presentation figure {
  width: 50%;
  position: relative;
}

section.presentation figure::after {
  content: url(../asset/img/pattern-presentation.png);
  position: absolute;
  top: 80px;
  right: -80px;
  z-index: -1;
}

section.presentation figure img {
  width: 100%;
}

/* TEXT */

section.presentation div.text {
  width: 50%;
  text-align: right;
  margin: 0 200px 0 200px;
}

section.presentation div.text h2 {
  font-size: 48px;
  font-family: "industrial";
  color: #dfc173;
  font-weight: lighter;
}

section.presentation div.text div.sous-title {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

section.presentation div.text div.sous-title div.ligne {
  background-color: #dfc173;
  height: 1px;
  width: 75%;
  margin-top: 10px;
}

section.presentation div.text div.sous-title p {
  color: #dfc173;
  font-weight: 500;
  width: 25%;
}

section.presentation div.text p {
  font-weight: 200;
  font-size: 16px;
}

section.presentation div.text p:nth-of-type(2) {
  margin-bottom: 50px;
}

section.presentation div.text a {
  border: #dfc173 1px solid;
  padding: 10px 20px;
  color: black;
  font-size: 16px;
}

/* -- ---------- SECTION CARROUSEL -------------- -- */

section.carrousel {
  margin: 250px 0 100px 0;
  width: 100%;
  overflow: hidden;
}

#slider {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

section.carrousel img {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

section.carrousel img:hover {
  transform: scale(1.02);
}

#precedent,
#suivant {
  cursor: pointer;
  transition: opacity 0.5s ease;
  opacity: 0.2;
  position: absolute;
  font-size: 50px;
  color: white;
  background-color: rgba(95, 89, 80, 0.37);
  padding: 0 10px;
  border-radius: 3px;
}

#precedent {
  left: 30px;
  transition: ease-in-out 0.3s;
}

#suivant {
  right: 30px;
  transition: ease-in-out 0.3s;
}

#slider:hover #precedent,
#slider:hover #suivant {
  opacity: 1;
}

#precedent:hover,
#suivant:hover {
  background-color: rgba(107, 100, 87, 0.616);
}

/* -- ---------- SECTION SERVICES -------------- -- */

.services,
.secteurs {
  display: block;
}

.servicesTitle,
.maison_titre_page {
  display: flex;
  justify-content: center;
  width: 80%;
  height: min-content;
  align-items: center;
  position: relative;
  padding-top: 50px;
  margin: auto;
}
.maison_titre_page {
  padding-bottom: 70px;
}
.servicesTraitG,
.servicesTraitD,
.maison_traitG,
.maison_traitD {
  height: 1px;
  width: 30%;
  background-color: #dfc173;
  align-self: center;
}

.servicesH2,
.secteursH2,
.maison_h1 {
  margin: 50px 20px;
  font-size: 48px;
  color: #dfc173;
  font-family: "industrial";
}

.secteursH2 {
  margin: 50px 20px 50px 0;
}

.servicesH2 {
  text-align: center;
}

.servicesBG {
  display: flex;
  height: min-content;
  min-height: 500px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  margin-top: 70px;
}

.servicesBG {
  background-image: url(../asset/img/bg-marbre.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0;
}

.servicesSquaresZoom {
  width: 270px;
  height: 260px;
  margin: 10px;
}

.servicesSquareCont {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.servicesSquares {
  width: 100%;
  height: 100%;
  box-shadow: 3px 3px 3px grey;
  text-align: center;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.servicesSquares_front {
  width: 100%;
  height: 100%;
  transform: rotateX(0deg);
  background-color: white;
}

.servicesSquares_front img {
  max-width: 30%;
  height: auto;
  position: relative;
  padding: 30px 0 10px 0;
}

.servicesSquares_front h3 {
  position: relative;
  font-family: "industrial";
  font-size: 24px;
  color: #dfc173;
}

.servicesSquares_front p {
  position: relative;
  font-size: 16px;
  margin: 10px 20px 20px;
}

/*zoom et rotation cartess*/

.servicesSquaresZoom:hover {
  transform: scale(1.02);
  transition: 0.7s;
}
.servicesSquares_front:hover {
  box-shadow: 3px 3px 5px rgb(133, 126, 126);
  border: 2px #dfc173 solid;
}

/*fin zoom et rotation*/

.servicesSquares_back {
  transform: rotateY(180deg);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  left: 0;
  top: 0;
  background-color: white;
  height: 100%;
}

.servicesSquares_back p {
  padding: 20px;
}

.servicesSquares_front,
.servicesSquares_back {
  backface-visibility: hidden;
}

.servicesSquares.flip {
  transform: rotateY(180deg);
}

/* -- ---------- SECTION SECTEUR -------------- -- */

.secteursTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  margin: auto;
  height: min-content;
  position: relative;
  padding-top: 50px;
}

.secteursTraitD {
  height: 1px;
  width: 50%;
  margin-top: 15px;
  background-color: #dfc173;
}

.secteurs p {
  align-self: flex-start;
  font-size: 16px;
  display: block;
}

.secteursPres {
  height: min-content;
  margin: auto;
  position: relative;
  padding: 30px 0;
  width: 80%;
}

.secteursContGlob {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: min-content;
  position: relative;
  margin: 50px 0;
}

.secteursCont {
  display: flex;
  width: 70%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.secteursCard {
  display: block;
  max-height: 100%;
  width: 30%;
  min-width: 250px;
  box-shadow: grey 4px 4px 4px;
  background-color: #f9f7ef;
  border-radius: 5px;
  margin: 10px 0;
}

.secteursCard:hover {
  transform: scale(1.02);
  transition: 0.7s ease;
}

.secteursPhoto img {
  width: 100%;
  cursor: pointer;
}

.secteursCardTitle {
  text-align: center;
  font-family: industrial;
  color: #dfc173;
  font-size: 24px;
  height: 10%;
  text-shadow: grey;
  padding: 20px;
}

.secteursCardTxt {
  text-align: center;
  padding: 10px 10px;
  height: 40%;
  padding: 20px;
}

/* -- ------ FOOTER ------ -- */

footer {
  width: 100%;
  background: #17152a;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a {
  color: white;
}

#footerTop {
  width: 80%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "industrial", serif;
  font-size: 20px;
}

#footerTop img {
  width: 80px;
}

.footerLine {
  height: 1px;
  width: 150px;
  background: white;
  margin: 15px 0;
}

#footerBottom {
  width: 80%;
  min-height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid#dfc173;
  border-bottom: 1px solid#dfc173;
}

.aboutUs,
.footerContact,
.location,
.footerSocial {
  width: 300px;
  height: 300px;
}

.aboutUs h4,
.footerContact h4,
.location h4,
.footerSocial h4 {
  margin: 20px 0;
}

.footerSocial h4 {
  text-align: center;
}

.aboutUs li,
.footerContact li,
.location li,
.footerSocial li {
  margin: 20px 0;
  font-weight: lighter;
}

.aboutUs li:hover,
.footerContact li:hover,
.location li:hover,
.footerSocial li:hover {
  font-weight: normal;
}

.socialList {
  display: flex;
  justify-content: space-evenly;
}

.socialList a i {
  color: white;
  font-size: 25px;
  padding: 10px 0;
  transition: all 0.5s;
}

.socialList a i:hover {
  color: #dfc173;
}

.legal {
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ----- MEDIA ----- */

@media screen and (max-width: 1625px) {
  /* ----- SECTION PRESENTATION ------ */
  section.presentation figure::after {
    top: 20px;
  }
}

@media screen and (max-width: 1300px) {
  /* ---- HEADER ---- */
  section.header div.border {
    margin: 0 100px;
  }
  section.header div.social {
    right: 35px;
  }

  /* ---- SECTION PRESENTATION ----- */
  section.presentation figure::after {
    top: -90px;
  }
  section.presentation div.text {
    margin: 0 100px 0 150px;
  }

  /* ----- FOOTER ----- */

  #footerBottom {
    flex-direction: column;
    text-align: center;
    padding: 40px 0;
  }

  .aboutUs,
  .footerContact,
  .location,
  .footerSocial {
    height: fit-content;
    margin: 20px;
  }

  .legal {
    justify-content: center;
  }

  .legalLeft {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  /* ---- SECTION PRESENTATION ---- */
  section.presentation {
    flex-direction: column;
  }
  section.presentation figure {
    width: 100%;
    margin-bottom: 0px;
  }
  section.presentation figure::after {
    left: 0;
    right: 0;
  }
  section.presentation div.text {
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 80px 100px 0 100px;
  }
  section.presentation div.text div.sous-title {
    flex-direction: column;
    align-items: flex-start;
  }
  section.presentation div.text div.sous-title div.ligne {
    width: 100%;
    margin-bottom: 20px;
  }
  section.presentation div.text div.sous-title p {
    width: 100%;
  }

  /* ----- SECTION SERVICE ET SECTEUR ----- */

  .servicesSquareCont {
    width: 95%;
    justify-content: center;
  }
  .services,
  .secteurs {
    height: min-content;
    align-items: center;
  }
  /* .servicesSquares,.servicesSquaresZoom{
    width:160px;
    height:160px;   
  } */

  .secteursCont {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  /* ----- LARGE NAV ----- */
  #largeNav {
    display: none;
  }

  /* ----- SMALL NAV ----- */
  #burgerMenu {
    display: flex;
  }

  /* ----- SCROLL TO TOP ------ */
  #scrollToTop {
    width: 50px;
    height: 50px;
  }

  /* ---- SECTION HEADER ---- */
  section.header div.border p:nth-of-type(1) {
    padding-top: 150px;
  }
  section.header div.border div.title h1 {
    font-size: 60px;
    padding: 0 10px;
  }
}

@media screen and (max-width: 600px) {
  section.header div.border {
    margin: 0 50px;
  }
  section.header div.social {
    display: none;
  }
  section.presentation div.text {
    padding: 150px 50px 0 50px;
  }
}

@media screen and (max-width: 490px) {
  section.presentation figure::after {
    display: none;
  }
}
